.container{
    margin-left: 40px;
    margin-bottom: 40px;
}

.example-card {
    width: 410px;
    height: 430px;

}

#gifImage{
    max-width: 300px;
    max-height: 250px;
    margin-left: 15px;
}

mat-card-content{
    margin-left: 15px;
}

