<div>  
    <mat-toolbar >
      <span (click)="onBook()">BOOK STORE</span>
      <span class="example-spacer"></span>
      <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon" (click)="onOrder()">
        <mat-icon>card_giftcard</mat-icon>
          Orders
    </button>
      <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon" (click)="onCart()">
        <mat-icon>shop</mat-icon>
          Cart
    </button>
      <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon" (click)="onShow()">
        <mat-icon>book</mat-icon>
          Add Books
    </button>
      <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon" (click)="onAccount()">
          <mat-icon>account_circle</mat-icon>
            My Account
      </button>
        <button mat-raised-button class="example-icon" aria-label="Example icon-button with share icon" (click)="onLogin()" [disabled]="isDisabled">
          {{Login}}</button>
      
    </mat-toolbar>
</div>
<div class="container">
    <router-outlet></router-outlet>
</div>

