<button mat-icon-button style="float:right" mat-dialog-close>
    <mat-icon>close</mat-icon>
</button>
<mat-dialog-content>
    <header>
        <h1>Edit Profile</h1>
    </header>
    <form [formGroup]="formValue">
    <p>
        <mat-form-field appearance="outline">
            <mat-label>User Name</mat-label>
            <input matInput placeholder="Name" formControlName="userName" >
            <mat-icon matSuffix>person</mat-icon>
        </mat-form-field>
    </p>
    <p>
        <mat-form-field appearance="outline">
            <mat-label>First Name</mat-label>
            <input matInput placeholder="First Name" formControlName="userFirstName">
            <mat-icon matSuffix>person</mat-icon>
        </mat-form-field>
    </p>
    <p>
        <mat-form-field appearance="outline">
            <mat-label>Last Name</mat-label>
            <input matInput placeholder="Last Name" formControlName="userLastName">
            <mat-icon matSuffix>person</mat-icon>
        </mat-form-field>
    </p>
    <p>
        <mat-form-field appearance="outline">
            <mat-label>Password</mat-label>
            <input matInput placeholder="Password" formControlName="userPassword">
            <mat-icon matSuffix>password</mat-icon>
        </mat-form-field>
    </p>
    <p>
        <mat-form-field appearance="outline">
            <mat-label>Email</mat-label>
            <input matInput placeholder="Email" formControlName="userMail">
            <mat-icon matSuffix>drafts</mat-icon>
        </mat-form-field>
    </p>
</form>
</mat-dialog-content>
<mat-dialog-actions align="end">
    <button mat-raised-button color="primary" (click)="onUpdate()" [disabled]="!formValue.valid">Update</button>
    <button mat-raised-button color="warn" mat-dialog-close>Close</button>
</mat-dialog-actions>
